<nav class="navbar bg-dark sticky-top px-3">
  <h1 class="text-light">All Restaurants</h1>
  <%= link_to "Add new restaurant",
              new_restaurant_path,
              class: "btn btn-primary"
              %>
</nav>
<div class="container cards">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @restaurants.each do |restaurant| %>
      <%= render "shared/restaurant/card", restaurant: restaurant%>
    <% end %>
  </div>
</div>
