<div class="container">
  <div>
    <%= render "shared/restaurant/restaurant_profile" %>
  </div>
  <div class="mb-3 narrow-form">
    <%= render "shared/review/form" %>
  </div>
  <div class="container">
    <h2>All reviews (<%= "#{@restaurant.reviews.count}" %>)</h2>
    <%= render "shared/restaurant/review_display" %>
  </div>
</div>
