.star {
  color: orange;
}

.card {
  width: auto;
}

a.link-unstyled {
  text-decoration: none;
}

a.link-unstyled:hover {
  text-decoration: underline;
}

.restaurant-profile-img {
  width: 150px;
  height: 150px;
}

.narrow-form {
  width: 500px;
  margin: auto;
}
