<div class="container">
  <div class="border-bottom">
    <%= render "shared/restaurant/restaurant_profile" %>
  </div>
  <div class="container">
    <%= render "shared/restaurant/review_display" %>
  </div>
</div>
